/* Animations */
@keyframes fadeIn{
    from{
        opacity:0;
    }
    to{
        opacity: 1;
    }
}

@keyframes fadeOut{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}
@keyframes textOpacityUp{
    from{
        opacity: 0.1;
    }
    to{
        opacity: 1;
    }
}
@keyframes textOpacityReset{
    from{
        opacity: 1;
    }
    to{
        opacity: 0.1;
    }
}
@keyframes hover{
    0%,  100%{
        transform:translateY(0);
    }
    50%{
        transform:translateY(-10px);
    }
}
@keyframes lSlide{
    0%{
        transform:translateX(-500px);
    }
    100%{
        transform:translateX(0);
    }
}
.fadeIn-anim{
    animation: fade 1.5s ease-in-out
}

.fadeOut-anim{
    animation: fadeOut 1s ease-in 
}
.hover-anim{
    animation:hover 2s infinite ease-in-out
}
.lSlide-anim{
    animation:lSlide 0.5s ease-in
}
/* Styles */
body{
    margin:0;
    font-family: 'Roboto', sans-serif;
    overflow-x:hidden;

}
.main-container{
    display:flex;
    flex-direction: column;
    background-color:black;
}

.nav-bar{
    display:grid;
    /* background-color:rgba(0,0,0, 0.1); */
    min-height:10vh;
    grid-auto-flow: column;
    color:whitesmoke;
    position:fixed;
    width: 100vw;
    z-index: 4;
}

.nav-bar .item{
    display: flex;
    align-items: center;
    justify-content: center;
}

#cNav[data-scroll="false"]{
    opacity:0;
}
#cNav[data-scroll="true"]{
    opacity:1;
}
.nav-bar .center{
    grid-column: auto / span 5;
}

.landing-page{
    display:grid;
    min-width: 100vw;
    min-height:90vh;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.landing-page .background{
    height: 100vh;
    width:100vw;
    grid-row:1/end;
    grid-column: 1/end;
    opacity:0.5;
}

 .sidebar{

    text-align: center;
    color:whitesmoke;
    font-size: x-large;
    
}

.sidebar ol{
    list-style:none;
    line-height: 100px;
}

.landing-page .sidebar{
    grid-row: 2 / 4;
    grid-column: 1/2;

}

.landing-page .title-content{
    color:whitesmoke;
    grid-row: 2/ 3;
    grid-column: 2/ 3;
    z-index: 1;
    text-align: center; 
    text-shadow:black 10px 0 10px;
}

footer{
    background-color:black;
    color:whitesmoke;
    margin-top:10vh;
    min-width: 100vw;
    min-height:40vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-auto-flow: column;
    z-index: 1;
    /* grid-template-areas: "header1 header2 header3 header4" "placeholder1 instagram privacy home" "placeholder2 fiverr tos about"
    "placeholder3 placeholder4 placeholder5 services" ; */
}

footer[data-mobile = "true"]{
    display: unset;
}

footer .item{
    border-right:1px solid gray;
    min-width: 100%;
    text-align: center;
}
/* footer .lHeader{
    grid-area: lHeader;
}
footer .cHeader{
    grid-area: cHeader;
}
footer .rHeader{
    grid-area: rHeader;
}
footer .instagram{
    grid-area: instagram;
}
footer .fiverr{
    grid-area: fiverr;
}
footer .placeholder{
    grid-area: placeholder;
}
footer .placeholder2{
    grid-area: placeholder2;
}
footer .privacy{
    grid-area: privacy;
}
footer .tos{
    grid-area: tos;
} */


.same-line-text{
    display:flex;
    /* justify-content:;  */
    justify-content:center; 
    align-items: center;
}
/*
.custom-button{
    background:none;
    border:none;
    color:darkgoldenrod;
    font-size: 60px;
} */

#tiles{
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-template-rows: repeat(var(--rows), 1fr);
}

.no-style-link{
    text-decoration: none;
    color:whitesmoke;
}

.content-page{
    display: grid;
    min-width: 100vw;
    /* min-height:90vh; */
    grid-template-rows:1fr;
    grid-template-columns: repeat(3, 1fr);
    color:whitesmoke;
    row-gap: 20px;
    text-align: justify;
    /* justify-items: center; */
}
.content-page .sidebar{
    grid-row: 1/1;
    display: none;
    grid-column: 3/3;
    height: 100%;
    background-color: rgba(0,0,0, 0.8);
    /* display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    justify-content: center; */
    z-index: 4;
    margin-right: 30px;
}
/* .content-page .sidebar ol{
    grid-row: 1 / 1;
    grid-column: 1/1;
}
.content-page .sideMenu{
    height: 100vh;
    grid-row: 1 / 1;
    grid-column: 1/1;

} */
.details{
    grid-row: 1/1;
    grid-column:1/end;
}
.detail{
    /* background-color: green; */
    /* border:1px solid white; */
    padding: 4vh 4vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    /* border-top-right-radius: 100px; */
    /* border-bottom-right-radius: 100px; */
}
/* .subdetail[data-mobile = "true"]{
    width:90vw !important;
    height:unset !important;
    /* display:unset !important; 
} */
/* .gridDetail, .subdetail{
    /* display: flex;
    flex-direction: row;
     background-color: green; 
    border-right: 10px solid black;
    /* padding:0vh 1vw;     
    justify-content: space-around;
    height:40vh;
    
    background-color: blue;

} */
.gridDetail[data-mobile = "false"]{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    text-align: center;
    column-gap:1vw;
    height:40vh;
    width:30vw;
}
.gridDetail[data-mobile = "true"]{
    text-align: center;
}
.subdetail{
    display:grid;
    grid-auto-flow: column;
    grid-template-columns:1fr;
    grid-template-rows: 1fr;
    color:ghostwhite;
    column-gap:1vw;
    height:40vh;
    width:30vw;
}
.subdetail[data-mobile = "true"]{
    height:unset;
    width:90vw;
    padding-bottom:20px;
}
.cover{
    display: flex;
    grid-column: 1/1;
    grid-row: 1/1;
    background-color: rgba(255, 255, 255, 0.6);
    color:black;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
/* #cover:hover{
    display:none !important;
} */

.subdetail .content{
    grid-column: 1/1;
    grid-row: 1/1;
    opacity: 0.1;
    margin:1em;
    text-align: justify;
}
/* #content:hover{
    opacity: 1 !important;
} */

/* .subdetail2{
    background-color: green;
}

.subdetail3{
    background-color: blue;   
} */

/* .detail1{
    text-align: center;
} */
.underline{
    width:400px;
    height:5px;
    background-color:orange;
}

.contact-button{
    width: 10vw;
    height:3vh;
    text-align: center;

    /*padding: 30px;*/
    /*transform: scale(1.7);*/
    display: inline-block;
    padding: 10px;
    color: black !important;
    background-color: orange;
    border-radius: 24px;
    font-size: 18px;
    text-decoration: none;
    cursor:pointer;
    position: absolute;
    top: 65%;
    left: 90%;
    transform: translate(-65%, 90%);
    opacity: 1;
    z-index: 4;
    position: fixed;
}
.contact-button:hover{
    box-shadow: inset 0px 0px 400px 110px rgba(0, 0, 0, .3);
}
.contact-button[data-mobile = "true"]{
    width:25vw;
    /* height:5vh; */
    left:75%;
    transform: translate(-65%, 75%);
}
/* .contact-button[data-scroll] {
    /* background-color: orange;
    top: 85vh;
    left: 93%;
    z-index: 4; */
   
/* } */ 

bold{
    font-weight: 600;
}

/* Popup Styles */
.popup .overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.7);
    z-index: 5;
    display: none;
}

.popup .popup-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background-color: black;
    color:whitesmoke;
    width: 30vw;
    height: 80vh;
    z-index: 6;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

@media  (max-height:700px){
    .popup .popup-content{
        height:90vh;
        /* background-color:red; */
    }
    /* #form-caption{
        display:none;
    } */
}

.popup .close-btn {
    position: absolute;
    right: 2px;
    top: 2px;
    width: 25px;
    height: 25px;
    /* background: #222; */
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    line-height: 25px;
    text-align: center;
    border-radius: 12px;
    cursor: pointer;
}

.popup.active .overlay {
    display: block;
}

.popup.active .popup-content {
    transition: all 800ms ease-in-out;
    transform: translate(-50%, -50%) scale(1);
}

.popup p {
    font-size: 1.3vh;
}

.popup form {
    padding-top: 25px;
}


.text-link:hover{
    text-decoration: solid underline 1px whitesmoke;
    text-underline-offset: 4px;
    cursor:pointer;
}

form-label{
    display:block;
    padding-left: 20px;
    font-size:10px;
    text-align: left;
}
input[type="checkbox"]{
    margin-left:-20px;
    float:left;
}

.testimonial{
    display:grid;
    height:30vh;
    width:40vw;
    background-color: lightgray;
    color:black;
    justify-self: center;
}

.testimonial h1{
    justify-self: center;
}
